{% extends "global/base.html" %}

{% block content %}
<div class="single-contact">
  <h1 class="single-contact-name">
    {{ contact.first_name }} {{ contact.last_name }}
  </h1>
  <p><b>ID: </b> {{ contact.id }}</p>
  <p><b>Email: </b> {{ contact.email }}</p>
  <p><b>Phone: </b> {{ contact.phone }}</p>
  <p><b>Created: </b> {{ contact.created }}</p>
  <p><b>Description: </b> {{ contact.description }}</p>
  <p><b>Category: </b> {{ contact.category.name }}</p>
  {% if contact.picture %}
  <p>
    <img src="{{ contact.picture.url }}" alt="{{ contact.first_name }}">
  </p>
  {% endif %}

  {% if user == contact.owner %}
  <div class="contact-links">
    <a href="{% url 'contact:update' contact.id %}" class="btn btn-link">Update</a>

    <form action="{% url 'contact:delete' contact.id %}" method="POST">
      {% csrf_token %}

      {% if confirm == 'no' %}
      <input type="hidden" name="confirm" value="yes">
      <button class="btn btn-link btn-delete" type="submit">
        Confirm?
      </button>
      {% else %}
      <button class="btn btn-link btn-delete" type="submit">
        Delete
      </button>
      {% endif %}

    </form>
  </div>
  {% endif %}


</div>
{% endblock content %}
```